/* Global Reset */
body, h1, p, form, input, button, canvas {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f4f7fa;
  color: #333;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #4CAF50;
}

#stock-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#loading-spinner {
  text-align: center;
  font-size: 1.2rem;
}

#prediction-results {
  display: none;
}

canvas {
  width: 100%;
  height: 400px;
}

#buySellRecommendation, #buyAmountRecommendation {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

#nextDayButton {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

#nextDayButton:hover {
  background-color: #0056b3;
}

section#prediction-section {
  text-align: center;
}
